<%- include('partials/header') %> 

<div class="postscontainer">
<% posts.forEach((post)=>{ %>
    
  <div class="postcontainer">
  <div class="postimagecontainer">
     <img class="postimage"  src="<%= post.image %>">
  </div>
  <div class="postinfo">
  <div class="posttitle">  
    <p><%= post.title%> </p>
   </div> 
   <div class="postcontent">
    <div class="date">
        <i class="fa-regular fa-clock"></i>
        <p>12 Feb, 2022</p>
    </div>
    <div class="readmore">
        <a href="/posts/<%= post._id %>">Readmore</a>
    </div>
   
   </div> 
   </div> 
   </div>

    <% }) %> 
</div>
<%- include('partials/footer') %> 